{% load static %}
{% load archivo_existe %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- 
      Created by: Jaime Estrada
      Modified by: María Martínez
      Date of creation: 05/06/2025
      Date of modification: 28/08/2025
      Description: Invoices (OTHERS INCOMES)
    -->
    <meta charset="UTF-8">
    <title>Facturas otros ingresos</title>
    <!-- Bootstrap base styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Google Font Rubik -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!-- Customised CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <!-- Block for displaying messages -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <!-- Main content -->
    <div class="container-fluid mt-4">

      <h2>Facturas Otros Ingresos y registro de pagos</h2>
          <div class="col-auto">
            <a href="{% url 'crear_factura_otros_ingresos' %}" class="btn btn-crear mb-3">
              <i class="bi bi-plus-circle me-1"></i> 
                Registrar Factura otro ingreso
            </a>
          </div>
    <form method="get" class="row g-2 mb-3">
    <div class="col-auto">
        <select name="cliente_id" class="form-select">
            <option value="">Cliente</option>
            {% for cliente in clientes %}
                <option value="{{ cliente.id }}" {% if cliente.id|stringformat:"s" == cliente_id %}selected{% endif %}>{{ cliente.nombre }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-auto">
        <select name="tipo_ingreso" class="form-select">
            <option value="">Tipo de ingreso</option>
            {% for tipo in tipos_ingreso %}
                <option value="{{ tipo }}" {% if tipo == tipo_ingreso_seleccionada %}selected{% endif %}>{{ tipo }}</option>
            {% endfor %}
        </select>
    </div>
          <div class="col-auto mb-3">
              <button type="submit" class="btn btn-outline-primary">
                  <i class="bi bi-funnel"></i> 
                      Buscar
              </button>
                <a href="{% url 'lista_facturas_otros_ingresos' %}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-clockwise"></i> 
                        Limpiar
            </a>
            <a href="{% url 'exportar_lista_facturas_otros_ingresos_excel' %}?{{ request.GET.urlencode }}" class="btn btn-outline-success">
                <i class="bi bi-file-earmark-excel-fill"></i> 
                  Exportar a Excel
            </a>
          </div>
      </form>
        <!-- Invoices table -->     
        <div class="table-responsive rounded-3 border"> 
          <table class="table align-middle mb-0 shadow-sm">
              <thead>
                  <tr>
                      <th>Folio</th>
                      {% if request.user.is_superuser %}
                        <th>Empresa</th>
                      {% endif %}
                      <th>Cliente</th>
                      
                      <th>Importe</th>
                      <th>Saldo</th>
                      <th>Tipo Ingreso</th>
                    <!--  <th>Fecha emisión</th>-->
                      <th>Periodo</th>
                      <th>Descripción</th>
                      <th>Estatus</th>
                      <th>Acciones</th>
                      <th>CFDI</th>    
                      <th>Historial</th>
                  
                  </tr>
              </thead>
              <tbody>
                  {% for factura in facturas %}
                      <tr>
                          <td>{{ factura.folio }}</td>
                          {% if request.user.is_superuser %}
                            <td>{{ factura.empresa.nombre }}</td>
                          {% endif %}
                          <td>{{ factura.cliente.nombre }}</td>
                          
                          <td>${{ factura.monto|floatformat:2|intcomma }}</td>
                          <td>${{ factura.saldo|floatformat:2|intcomma }}</td>
                          <td>{{ factura.tipo_ingreso }}</td>
                          <td>{{ factura.fecha_vencimiento|date:"b/y"|upper }}</td>
                          {% if factura.observaciones == None or factura.observaciones == '' %}
                              <td></td>
                          {% else %}
                              <td>{{ factura.observaciones }}</td>
                          {% endif %}

                        <td>{% if factura.estatus == 'cobrada' %} 
                              <span class="badge bg-success">{{ factura.get_estatus_display }}</span> 
                          {% elif factura.estatus == 'pendiente' %} 
                              <span class="badge bg-warning">{{ factura.get_estatus_display }}</span>
                          {% elif factura.estatus == 'cancelada' %} 
                              <span class="badge bg-danger">{{ factura.get_estatus_display }}</span>
                          {% endif %}
                        </td>
        
                          <td class="text-nowrap">
                          {% if factura.saldo > 0 %}
                              <a href="{% url 'registrar_cobro_otros_ingresos' factura.id %}" class="btn btn-sm btn-outline-success" title="Registrar Pago">
                                Reg.Pago
                                  <i class="bi bi-cash-coin me-1"></i>
                              </a>
                          {% endif %}
                          {% if not factura.empresa.es_plus %}  
                            <a href="{% url 'recibo_factura_otras_cuotas' factura.id %}" class="btn btn-outline-primary btn-sm" target="_blank" title="Imprimir Factura">
                              Factura
                              <i class="bi bi-printer"></i>
                            </a>
                          {% else %}
                            <span class="text-muted" title="Solo disponible en versión PLUS"></span>
                          {% endif %}
                          {% if factura.estatus == 'cancelada' %}
                              <span class="text-muted"></span>
                          {% else %}    
                          {% if not factura.uuid %}
                                <a href="{% url 'timbrar_factura_otros_ingresos' factura.pk %}" class="btn btn-outline-success btn-sm" title="Timbrar factura">
                                    Timbrar
                                    <i class="bi bi-file-earmark-check"></i>
                                </a>
                            {% else %}
                                <span class="badge bg-dark">Timbrada</span>   
                            {% endif %}
                          {% endif %}
                          </td>
                           <td>
                    {% if factura.facturama_id %}
                                <a href="{% url 'descargar_cfdi_facturama' factura.facturama_id %}" class="btn btn-success btn-sm" title="Descargar CFDI PDF/XML">
                                    <i class="bi bi-download"></i>
                                </a>
                            {% else %}
                                <span class="text-muted"></span>
                            {% endif %}
                    </td>
                          <td>
                            <a href="{% url 'detalle_factura_otros_ingresos' factura.id %}" class="btn btn-sm btn-outline-info" title="Ver Historial">
                                <i class="bi bi-eye me-1"></i>
                            </a>
                          </td>
                      </tr>
                  {% empty %}
                      <tr class="no-data-row">
                          <td colspan="9">No hay facturas registradas.</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
<nav aria-label="Paginación">
    <ul class="pagination">
        {% if facturas.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ facturas.previous_page_number }}">Anterior</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Anterior</span></li>
        {% endif %}
        <li class="page-item disabled"><span class="page-link">Página {{ facturas.number }} de {{ facturas.paginator.num_pages }}</span></li>
        {% if facturas.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ facturas.next_page_number }}">Siguiente</a>
            </li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Siguiente</span></li>
        {% endif %}
    </ul>
</nav>

    <!-- 🔹 Footer -->
    <footer>
        © {% now "Y" %} GESAC. Todos los derechos reservados. <br>
        Creado por JMEB
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>