<!-- filepath: templates/otros_ingresos/reporte_cobros.html -->
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- 
      Created by: Jaime Estrada
      Modified by: María Martínez
      Date of creation: 05/06/2025
      Date of modification: 28/08/2025
      Description: Report of collections (other income)
    -->
    <meta charset="UTF-8">
    <title>Reporte cobros otros ingresos</title>
    <!-- Bootstrap base styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Google Font Rubik -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!-- Customised CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container-fluid mt-4">
        <h2>Reporte Cobros Otros Ingresos</h2>

        <form method="get" class="row g-2 mb-3">
            <div class="col-auto">
            {% if request.user.is_superuser %}
                <select name="empresa" class="form-select">
                    <option value="">Empresas</option>
                    {% for empresa in empresas %}
                        <option value="{{ empresa.id }}" {% if empresa.id|stringformat:"s" == empresa_id %}selected{% endif %}>{{ empresa.nombre }}</option>
                    {% endfor %}
                </select>
            {% endif %}
            </div>
            <div class="col-auto">
        <select name="tipo_ingreso" id="tipo_ingreso" class="form-select">
            <option value="">Tipo ingreso</option>
            {% for tipo in tipos_ingreso %}
                <option value="{{ tipo.id }}" {% if tipo_ingreso_id == tipo.id|stringformat:"s" %}selected{% endif %}>{{ tipo.nombre }}</option>
            {% endfor %}
        </select>
    </div>
            <div class="col-auto">
                <select name="cliente" class="form-select">
                    <option value="">Clientes</option>
                    {% for cliente in clientes %}
                        <option value="{{ cliente.id }}" {% if cliente.id|stringformat:"s" == cliente_id %}selected{% endif %}>{{ cliente.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-auto">
                <input type="date" name="fecha_inicio" class="form-control" value="{{ fecha_inicio }}">
            </div>
            <div class="col-auto">
                <input type="date" name="fecha_fin" class="form-control" value="{{ fecha_fin }}">
            </div>
            <div class="col-auto align-self-end">
                <button type="submit" class="btn btn-outline-primary">
                    <i class="bi bi-funnel-fill"></i> Filtrar
                </button>
                <a href="{% url 'reporte_cobros_otros_ingresos' %}" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-clockwise"></i> Limpiar
                </a>
                <a href="{% url 'exportar_cobros_otros_ingresos_excel' %}?empresa={{ empresa_id }}&cliente={{ cliente_id }}&fecha_inicio={{ fecha_inicio }}&fecha_fin={{ fecha_fin }}&tipo_ingreso={{ tipo_ingreso_id }}" class="btn btn-outline-success">
                    <i class="bi bi-file-earmark-excel-fill"></i> Exportar a Excel
                </a>
            </div>
        </form>
        
        <div class="alert alert-info">
            <h4><strong>Total cobrado:</strong>
            ${{ total_cobrado|floatformat:2|intcomma }}</h4>
        </div>
        
        <div class="table-responsive rounded-3 border">
            <table class="table align-middle mb-0 shadow-sm">
                <thead>
                    <tr>
                        {% if request.user.is_superuser %}
                        <th>Empresa</th>
                        {% endif %}
                        <th>Folio</th>
                        <th>Cliente</th>
                        <th>Tipo Ingreso</th>
                        <th>Monto</th>
                        <th>Forma cobro</th>
                        <th>Fecha cobro</th>   
                        <th>Comentario</th>
                        <th>Acciones</th>
                        {% comment %} <th>Comprobante</th> {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for cobro in cobros %}
                    <tr>
                        {% if request.user.is_superuser %}
                        <td>{{ cobro.factura.empresa.nombre }}</td>
                        {% endif %}
                        <td>{{ cobro.factura.folio }}</td>
                        <td>{{ cobro.factura.cliente.nombre }}</td>
                        <td>{{ cobro.factura.tipo_ingreso.nombre }}</td>
                        <td>${{ cobro.monto|floatformat:2|intcomma }}</td>
                        <td>{{ cobro.get_forma_cobro_display }}</td>
                        <td>{{ cobro.fecha_cobro|date:"d/b/y"|upper}}</td>
                        {% if cobro.observaciones == None or cobro.observaciones == "" %}
                            <td></td>
                        {% else %}
                            <td>{{ cobro.observaciones }}</td>
                        {% endif %}
                        <td> <a href="{% url 'recibo_pago_otras_cuotas' cobro.id %}" class="btn btn-outline-primary btn-sm" target="_blank" title="Imprimir Recibo">
                                    <i class="bi bi-printer"></i>
                                    Recibo
                                        </a>
                                    </td>
                    </tr>
                    {% empty %}
                    <tr class="no-data-row">
                        <td colspan="9">No hay cobros registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if cobros.has_other_pages %}
        <nav>
            <ul class="pagination">
                {% if cobros.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ cobros.previous_page_number }}">Anterior</a></li>
                {% endif %}
                <li class="page-item disabled"><span class="page-link">Página {{ cobros.number }} de {{ cobros.paginator.num_pages }}</span></li>
                {% if cobros.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ cobros.next_page_number }}">Siguiente</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}        
    </div>

    <!-- 🔹 Footer -->
    <footer>
        © {% now "Y" %} GESAC. Todos los derechos reservados. <br>
        Creado por JMEB
    </footer>

    <!-- Scripts -->
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>