{% load humanize %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Areas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h2>Áreas comunes</h2>
        <!-- Bloque para mostrar mensajes -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <a href="{% url 'crear_area' %}" class="btn btn-success mb-3">+ Nueva área </a>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Numero</th>
                <th>Cliente</th>
                {% if request.user.is_superuser %}
                    <th>Empresa</th>
                {% endif %}
                <th>Sup. m²</th>
                <th>Cuota</th>
                <th>Giro</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Ubicación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for area in areas %}
                <tr>
                    <td>{{ area.numero }}</td>
                    <td>{{ area.cliente.nombre }}</td>
                    {% if request.user.is_superuser %}
                        <td>{{ area.empresa.nombre }}</td>
                    {% endif %}
                    <td>{{ area.superficie_m2|floatformat:2|intcomma }}</td>
                    <td>${{ area.cuota|floatformat:2|intcomma }}</td>
                    <td>{{ area.giro }}</td>
                    <td>{{ area.fecha_inicial }}</td>
                    <td>{{ area.fecha_fin }}</td>
                    <td>{{ area.ubicacion }}</td>
                    <td>
                        <a href="{% url 'editar_area' area.pk %}" class="btn btn-sm btn-primary">Editar</a>
                    {% if request.user.is_superuser or local.empresa == request.user.perfilusuario.empresa %}
                        
                        <a href="{% url 'eliminar_area' area.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                    {% else %}
                        <span class="text-muted"></span>
                    {% endif %}
                    {% if area.status == 'disponible' %}
                        <a href="{% url 'asignar_cliente' area.pk %}" class="btn btn-primary btn-sm">Asignar cliente</a>
                    {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="9">No hay áreas registradas.</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'bienvenida' %}" class="btn btn-secondary">Volver al menú</a>
</div>
</body>
</html>
