{% load static %}
{% load tz %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido - GAC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- 🔹 Navbar superior -->
    <nav class="navbar navbar-expand-lg sticky-top py-2 shadow-navbar">
        <div class="container-fluid px-5">
            <div class="collapse navbar-collapse d-flex justify-content-between align-items-center" id="navbarOpciones">
                <ul class="navbar-nav mb-2 mb-lg-0 align-items-lg-center ms-auto">
                    {% if request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Configuración</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'empresa_lista' %}">Empresas</a></li>
                            <li><a class="dropdown-item" href="{% url 'admin:auth_user_add' %}">Usuarios</a></li>
                            <li><a class="dropdown-item" href="{% url 'reporte_auditoria' %}">Auditoría</a></li>
                            <li><a class="dropdown-item" href="{% url 'respaldo_empresa_excel' %}">BackUp</a></li>
                            <li><a class="dropdown-item" href="{% url 'reiniciar_sistema' %}">Reiniciar Sistema</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    <!-- Menús existentes, ajústalos si quieres anidar en catálogos -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'crear_cliente' %}">Nuevo Cliente</a></li>
                            <li><a class="dropdown-item" href="{% url 'lista_clientes' %}">Lista</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'carga_masiva_clientes' %}">Carga Masiva</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Locales</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'crear_local' %}">Nuevo Local</a></li>
                            <li><a class="dropdown-item" href="{% url 'lista_locales' %}">Lista</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'locales_inactivos' %}">Inactivos</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'incrementar_c_locales' %}">Incrementar Cuotas</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'carga_masiva_locales' %}">Carga Masiva</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Áreas Comunes</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'crear_area' %}">Nueva Área</a></li>
                            <li><a class="dropdown-item" href="{% url 'lista_areas' %}">Lista</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'areas_inactivas' %}">Inactivos</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'incrementar_c_areas' %}">Incrementar Cuotas</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'carga_masiva_areas' %}">Carga Masiva</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Ingresos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'crear_factura' %}">Nueva Factura</a></li>
                            <li><a class="dropdown-item" href="{% url 'lista_facturas' %}">Cobros Facturas</a></li>
                            <li><a class="dropdown-item" href="{% url 'facturar_mes' %}">Facturación Mensual</a></li>
                            <li><a class="dropdown-item" href="{% url 'pagos_por_origen' %}?tipo=local">Reporte Ingresos</a></li>
                            <li><a class="dropdown-item" href="{% url 'dashboard_pagos' %}">Dashboard Ingresos</a></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'carga_masiva_facturas' %}">Carga Masiva</a></li>
                            {% endif %}
                        </ul>
                    </li>
                    <!-- MENÚ cartera -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cartera Vencida</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'cartera_vencida' %}">Cartera Vencida</a></li>
                            <li><a class="dropdown-item" href="{% url 'dashboard_saldos' %}">Dashboard Cartera Vencida</a></li>
                        </ul>
                    </li>
                    <!-- MENÚ CATÁLOGOS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Catálogos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'proveedor_lista' %}">Proveedores</a></li>
                            <li><a class="dropdown-item" href="{% url 'empleado_lista' %}">Empleados</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'subgrupos_gasto_lista' %}">Alta subgrupo gasto</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'tipo_gasto_crear'%}">Alta tipo gasto</a></li>
                            <li><a class="dropdown-item" href="{% url 'tipos_gasto_lista'%}">Lista tipo gasto</a></li>
                            <!-- Agrega aquí más catálogos si lo deseas -->
                        </ul>
                    </li>
                    <!-- MENÚ GASTOS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Egresos</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'gasto_nuevo' %}">Nueva Solicitud</a></li>
                            <li><a class="dropdown-item" href="{% url 'gastos_lista' %}">Reporte Solicitudes</a></li>
                            <li><a class="dropdown-item" href="{% url 'reporte_pagos_gastos' %}">Reporte Egresos</a></li>
                            <li><a class="dropdown-item" href="{% url 'dashboard_pagos_gastos' %}">Dashboard Egresos</a></li>
                        </ul>
                    </li>
                    <!-- MENÚ PPTOS -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Presupuesto</a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_superuser %}
                                <li><a class="dropdown-item" href="{% url 'matriz_simple_presupuesto'%}">Registrar PPTO</a></li>
                            {% endif %}
                           <li><a class="dropdown-item" href="{% url 'presupuesto_nuevo'%}">Registrar Presupuesto</a></li>
                            <li><a class="dropdown-item" href="{% url 'presupuesto_lista'%}">Reporte Prespuesto</a></li>
                            <li><a class="dropdown-item" href="{% url 'dashboard_presupuestal'%}">Dashboard PPTO</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Botón Cerrar sesión y Modo oscuro -->
                <div class="d-flex align-items-center ms-auto">
                    <form method="post" action="{% url 'logout' %}" class="d-flex align-items-center mb-0 ms-5">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="bi bi-box-arrow-right me-1"></i> Cerrar sesión
                        </button>
                    </form>
                     <!-- Dark button -->
                    <button id="toggleDark" class="toggle-switch">
                        <div class="toggle-ball"><i class="bi bi-moon-fill"></i></div>
                    </button>
                </div>
            </div>
        </div>
    </nav>

    <!-- 🔹 Caja central -->
    <main class="main-content">
        <div class="welcome-box text-center">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="welcome-logo">
            <p class="mb-5 text-muted mt-0"><strong>Gestor Administrativo Condominal</strong><br></p>
            <hr class="welcome-divider mb-4">
            <br>
            <h1 class="welcome-title mb-1">Bienvenido <br> {{ request.user.get_full_name|default:request.user.username }}</h1>
            {% if empresa %}
                <p class="text-muted mb-3">Empresa: <strong>{{ empresa.nombre }}</strong></p>
            {% else %}
                <p class="text-muted mb-3">Administrador General</p>
            {% endif %}
        </div>
    </main>

    <!-- 🔹 Footer -->
    <footer>
        © {% now "Y" %} GAC. Todos los derechos reservados. <br>
        Creado por Jaime M. Estrada Bernabé
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

