    <!-- 
        Created by: Jaime Estrada
        Modified by: María Martínez
        Date of creation: 05/06/2025
        Date of modification: 04/09/2025
        Description: Code navbar
    -->
{% load static %}        
<!-- 🔹 Top Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top py-2 shadow-navbar">
    <div class="container-fluid">
        <!-- home button-->
        <a href="{% url 'bienvenida' %}" class="btn btn-sm btn-light-shadow">
          <i class="bi bi-house me-1"></i> Inicio
        </a>

        <!-- Botón hamburguesa para dispositivos pequeños -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarOpciones" aria-controls="navbarOpciones" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarOpciones">
            <ul class="navbar-nav mb-2 mb-lg-0 align-items-lg-center ms-auto">
                
                {% if request.user.is_staff %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Configuración</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'empresa_lista' %}">Empresas</a></li>
                        <li><a class="dropdown-item" href="{% url 'admin:auth_user_add' %}">Usuarios</a></li>
                        <li><a class="dropdown-item" href="{% url 'usuarios_demo' %}">Usuarios Demo</a></li>
                        <li><a class="dropdown-item" href="{% url 'reporte_auditoria' %}">Auditoría</a></li>
                        <li><a class="dropdown-item" href="{% url 'respaldo_empresa_excel' %}">BackUp</a></li>
                        <li><a class="dropdown-item" href="{% url 'reiniciar_sistema' %}">Reiniciar Sistema</a></li>
                        <li><a class="dropdown-item" href="{% url 'seleccionar_empresa' %}">Cambiar Empresa</a></li>
                        <li><a class="dropdown-item" href="{% url 'subir_csd_facturama' %}">Subir CSD a Facturama</a></li>
                        <li><a class="dropdown-item" href="{% url 'consulta_cfdis_facturama' %}">Consulta CFDIs</a></li>
                        <li><a class="dropdown-item" href="{% url 'subir_estado_cuenta' %}">Subir Estado de Cuenta</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_usuarios_normales' %}">Usuarios Normales</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_usuarios_visitantes' %}">Usuarios Visitantes</a></li>
                        <li><a class="dropdown-item" href="{% url 'anuncios_publicos' %}">Anuncios Institucionales</a></li>
                        </ul>
                </li>
                {% endif %}
                
                <!-- Menús existentes, ajústalos si quieres anidar en catálogos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'crear_cliente' %}">Alta Clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_clientes' %}">Lista Clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'clientes_inactivos' %}">Clientes Inactivos</a></li>
                        <li><hr class="dropdown-divider"></li>
                      {% comment %} {% if request.user.is_superuser %} {% endcomment %}
                            <li><a class="dropdown-item" href="{% url 'carga_masiva_clientes' %}">Carga Masiva</a></li>
                        {% comment %} {% endif %} {% endcomment %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Propiedades</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'crear_local' %}">Registro Propiedades</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_locales' %}">Lista Propiedades</a></li>
                        <li><a class="dropdown-item" href="{% url 'locales_inactivos' %}">Propiedades Inactivas</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'incrementar_c_locales' %}">Incrementar Cuotas</a></li>
                        
                            <li><a class="dropdown-item" href="{% url 'carga_masiva_locales' %}">Carga Masiva</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Áreas Comunes</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'crear_area' %}">Registro Área común</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_areas' %}">Lista Áreas Comunes</a></li>

                            <li><a class="dropdown-item" href="{% url 'areas_inactivas' %}">Áreas Inactivas</a></li>
                            <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'incrementar_c_areas' %}">Incrementar Cuotas</a></li>
                        
                            <li><a class="dropdown-item" href="{% url 'carga_masiva_areas' %}">Carga Masiva</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Ingresos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'crear_factura' %}">Registrar Cuota</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_facturas' %}">Estados de Cuenta</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'pagos_por_origen' %}?tipo=local">Cobros Cuotas</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'facturar_mes' %}">Generacion Mensual Cuotas</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'crear_factura_otros_ingresos' %}">Registrar otro ingreso</a></li>
                        <li><a class="dropdown-item" href="{% url 'lista_facturas_otros_ingresos' %}">Facturas Otros Ingresos</a></li>
                        <li><a class="dropdown-item" href="{% url 'reporte_cobros_otros_ingresos' %}">Cobros otros Ingresos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'dashboard_pagos' %}">Dashboard Ingresos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% if empresa.es_plus %}
                        <li><a class="dropdown-item" href="{% url 'subir_estado_cuenta' %}">Conciliación Bancaria</a></li>
                        {% else %}
                        <spam><li><a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Conciliación Bancaria (Plus)</a></li></spam>
                        {% endif %}
                        {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'carga_masiva_facturas_cobradas' %}">Carga Cuotas Cobradas</a></li>
                        {% endif %}
                    </ul>
                </li>
                <!-- MENÚ cartera -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cartera Vencida</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'cartera_vencida' %}">Cartera Vencida</a></li>
                        <li><a class="dropdown-item" href="{% url 'dashboard_saldos' %}">Dashboard Cartera</a></li>
                        <li><hr class="dropdown-divider"></li>                     
                        
                        <li><a class="dropdown-item" href="{% url 'carga_masiva_facturas' %}">Carga Masiva</a></li>
                    </ul>
                </li>
                <!-- MENÚ incidencias -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Nomina</a>
                    <ul class="dropdown-menu">
                        
                        <li><a class="dropdown-item" href="{% url 'empleado_lista' %}">Lista Empleados</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'incidencia_crear' %}">Registrar Incidencia</a></li>
                        <li><a class="dropdown-item" href="{% url 'incidencias_lista' %}">Reporte Incidencias</a></li>
                        
                        <!-- Agrega aquí más catálogos si lo deseas -->
                    </ul>
                </li>
                <!-- MENÚ GASTOS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Gastos</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'proveedor_lista' %}">Lista Proveedores</a></li>
                        <li><a class="dropdown-item" href="{% url 'carga_masiva_proveedores' %}">Carga Masiva</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'tipo_gasto_crear'%}">Alta tipo Gasto</a></li>
                        <li><a class="dropdown-item" href="{% url 'tipos_gasto_lista'%}">Lista Tipos de Gasto</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'gasto_nuevo' %}">Registrar Solicitud de Gasto</a></li>
                        <li><a class="dropdown-item" href="{% url 'gastos_lista' %}">Lista Solicitudes de Gastos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'subgrupos_gasto_lista' %}">Alta subgrupo gasto</a></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'reporte_pagos_gastos' %}">Pagos Solicitudes de Gastos</a></li>
                        <li><a class="dropdown-item" href="{% url 'dashboard_pagos_gastos' %}">Dashboard Gastos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'reporte_retenciones_gastos' %}">Reporte Retenciones</a></li>
                        {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'carga_masiva_gastos' %}">Carga Masiva Gastos</a></li>
                        {% endif %}
                    </ul>
                </li>
                <!-- MENÚ CAJA CHICA -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            >Caja Chica</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'lista_fondeos' %}"
                >Fondeos Caja Chica</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="{% url 'lista_gastos_caja_chica' %}"
                >Gastos Caja Chica</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'lista_vales_caja_chica' %}"
                >Vales Caja Chica</a
              >
            </li>
          </ul>
        </li>
                <!-- MENÚ PPTOS -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Presupuesto</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'matriz_presupuesto'%}">Matriz Presupuesto Gastos</a></li>
                        <li><a class="dropdown-item" href="{% url 'matriz_presupuesto_ingresos' %}">Matriz Presupuesto Ingresos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'carga_masiva_presupuestos' %}">Carga Presupuesto Gastos</a></li>
                        <li><a class="dropdown-item" href="{% url 'carga_masiva_presupuesto_ingresos' %}">Carga Presupuesto Ingresos</a></li>  
                    </ul>
                </li>
                <!-- MENÚ REPORTES -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Reportes</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'estado_resultados' %}">Estado de Resultados</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'reporte_presupuesto_vs_gasto' %}">Comparativo Ppto vs Gastos</a></li>
                        <li><a class="dropdown-item" href="{% url 'comparativo_anual_total' %}">Comparativo Presupuestos Gtos</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'reporte_presupuesto_vs_ingreso' %}">Comparativo Ppto vs Ingresos</a></li>
                        <li><a class="dropdown-item" href="{% url 'comparativo_anual_ingresos' %}">Comparativo Presupuestos Ing</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'reporte_ingresos_vs_gastos' %}">Dashboard Ingresos y Gastos</a></li>
                    </ul>
                </li>
                <!-- MENÚ COMUNICACION -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Comunicacion</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'crear_tema_y_enviar' %}">Registrar Asuntos Generales</a></li>
                      <li><a class="dropdown-item" href="{% url 'lista_temas' %}">Asuntos Generales</a></li>
                      <li><hr class="dropdown-divider"></li> 
                      <li><a class="dropdown-item" href="{% url 'aviso_crear' %}">Registrar Avisos App</a></li>
                      <li><a class="dropdown-item" href="{% url 'avisos_lista' %}">Lista Avisos</a></li>
                </li>
            </ul>
        </div>
        <div class="d-flex align-items-center gap-3">
            <!-- Help Button -->
            <button type="button" class="btn btn-sm btn-ayuda" 
              data-bs-toggle="modal" 
              data-bs-target="#modalAyuda"
              aria-label="Abrir ayuda">
              <i class="bi bi-question-circle-fill"></i>
              <span>Ayuda</span>
            </button>
          
            <!-- Logout button -->
            <form method="post" action="{% url 'logout' %}" class="mb-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="bi bi-box-arrow-right me-1"></i> Salir
                </button>
            </form>
        </div>
        <!-- Dark button -->
        <div class="d-flex align-items-center ms-auto">  
            <button id="toggleDark" class="toggle-switch">
                <div class="toggle-ball"><i class="bi bi-moon-fill"></i></div>
            </button>
        </div>
    </div>
      
</nav>

    <!-- Modal Ayuda -->
<div class="modal fade" id="modalAyuda" tabindex="-1" aria-labelledby="modalAyudaLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAyudaLabel">Ayuda</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body text-center">
        <h5 class="mb-3">Manual de Operación Sistema GESAC</h5>
        <a href="{% static 'docs/manual_gesac.pdf' %}" target="_blank" class="btn btn-outline-primary mb-3">
          <i class="bi bi-file-earmark-pdf"></i> Consultar Manual en PDF
        </a>
        <div>
          <a href="https://www.youtube.com/@Gesac.GestorAdministrativoCond" target="_blank">
            <p class="mt-3">Videos Tutoriales.</p>
          </a>
          <a href="https://paginaweb-ro9v.onrender.com/gestor_administrativo" target="_blank">
            <p class="mt-2">Visita la página web GESAC.</p>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        {% if not es_demo %}
        <button id="cancelar-suscripcion-btn" class="btn btn-danger">Cancelar Suscripción</button>
        {% endif %}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>